<div class="pagestrip">
  <div class="intro-box">
    <h1>Welcome to Morning Drinks</h1>
    <h4><a href="<%= new_order_path %>">Place a new Order</a></h4>
    <h4><a href="#">See your Favorite Orders</a></h4>
  </div>
</div>
