<div class="pagestrip" id="introstrip">
  <div class="intro-box">
    <h1>Welcome to Morning Drinks!</h1>
    <p>This app allows you to place you and your office to place morning drink orders
      online instead of writing with paper and pen. Login or signup to get started.</p>
  </div>
</div>
