<div class="pagestrip usersshow">
  <h1 class="user-title">Welcome <%= @user.name.capitalize %></h1>

  <div class="intro-box orders-list">
    <h2>Your Orders:</h2>
    <ul>
      <% @user.orders.each do |order| %>

          <% order.drinks.each do |drink| %>
          <li>
           <%=  render partial: 'shared/drink_listing', locals: {drink: drink} %>
           <p>Order Status: <%= order.order_status %></p>
         </li>
          <% end %>

      <% end %>
    </ul>
  </div>


</div>
<% if current_user.admin == true %>
  <p class="admin-tab"><a href="<%= '/admin' %>">ADMIN PANEL</a></p>
<% end %>
